*{
    background-color: #ffcc00;
    font-family: Poppins;
    text-decoration: none;
}
.row{
    display: flex;
    display: -webkit-box;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-decoration: none;
    color: white;
}
.theme{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
.div{
    display: block;
}
.footer{
    background-color: white;
}
.menu-links, link{
    font-style: normal;
    color: white;
    font-style: none;
    text-decoration: none;
}
.menu-item{
    font-style: none;
    color: white;
    font-size:large;
    font-weight: 500;
    text-decoration: none;
}
.a{
    color: white;
    font-size: large;
    font-style: none;
    text-decoration: none;
}
.s-menu-item{
text-decoration: none;
}
.sub-link{
    color: white;
    font-size: large;
    font-style: none;
    text-decoration: none;
}
.link{
    color: white;
    font-size: 30px;
    font-style: none;
    text-decoration: none;
}
.item{
    color: white;
    margin-left: 400px;
    font-size: larger;
}
.splittig{
    color: white;
}
.header-footer{
    margin-left: 600px;
    font-size: 15px;
    color: white;
    margin-top: 80px;
}
.footer-sm{
    text-decoration: none;
    margin-left: 500px;
}